<script>
  $(document).ready(function(){
    var inputKey = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(inputKey);
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
          var place = autocomplete.getPlace();
          lat = place['geometry']['location'].lat();
          lng = place['geometry']['location'].lng();
          $("#user_long").val(lng);
          $("#user_lat").val(lat);
          //map.setCenter(new google.maps.LatLng(lat, lng));
     });
  });
  
</script>  
<div class="container">
  <div class="row">
  	<div class="col-md-6">
          
      <%= form_for @user, url: '/update_profile', :method => :POST, :defaults => { :input_html => { :class => "form-horizontal" } } do |f| %>
          <fieldset>
            <div id="legend">
              <legend class="">Edit Profile</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Name</label>
              <div class="controls">
                <%= f.text_field :name, {:class => "form-control input-lg" }%>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <%= f.text_field :email, {:class => "form-control input-lg"} %>
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
           
            <div class="control-group">
              <label class="control-label">Location</label>
              <div class="controls">
                <input id="autocomplete" placeholder="Enter your address" type="text" class="form-control input-lg"></input>
                <%= f.hidden_field :long, { :class => "form-control input-lg"} %>
                <%= f.hidden_field :lat, { :class => "form-control input-lg"} %>
              </div>
            </div>
      
      
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Update Profile</button>
              </div>
            </div>
          </fieldset>
        <% end %>
    
    </div> 
  </div>
</div>